.child-center-landing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-landing {
  color: white;
  margin: 5px;
  border-radius: 25px;
  border: 3px;
  border-style: solid;
  width: 75%;
  height: 18em;

  display: flex;
  align-items: center;
  align-items: center;
}

.flex-center-start-landing {
  margin: 5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
