.field-people {
  margin: auto;
  width: 90%;

  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);

  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  text-shadow: var(--text-shadow);
  background-color: var(--field-people-background-color);
  border-color: var(--field-people-border-color);
  color: var(--field-people-font-color);

  padding: 0.1rem 0;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.field-people img {
  height: 1rem;
  filter: drop-shadow(0 0 0.03rem rgba(0, 0, 0, 0.6));
}

.field-people span {
  font-size: 0.9rem;
}
