#orangeBox {
    background: rgb(255, 255, 255);
    color: brown;
    font-family: 'Helvetica', 'Arial', sans-serif;
    /* font-size: 2em; */
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }