.avatar-container {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vmin;
  width: 50vmin;
  padding: 0.2rem;
  position: relative;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
  border: 0.2rem solid white;
}

.avatar {
  width: 100%;
  position: relative;
  top: -0.5rem;
  filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.7));
} 

.avatar-button {
  background: none;
  cursor: pointer;
  outline: inherit;
  font-family: inherit;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: white;
  padding: 0.3rem;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
}