.header-text {
  color: white;
  text-align: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
  text-shadow: var(--text-shadow);
}

.join-input {
  margin-top: 1rem;
}

.join-button {
  margin-top: 1rem;
  width: 100%;
}

.joinpage-nickname {
  margin-top: 0.5rem;
  color: white;
}

.join-avatar-container {
  height: 50vmin;
  width: 50vmin;
}
