.header-text {
  color: white;
  text-align: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
  text-shadow: var(--text-shadow);
}

.join-input {
  margin-top: 1rem;
}

.join-button {
  margin-top: 1rem;
  width: calc(85px + 16vw);
  height: calc(10px + 7vh);
}

.joinpage-nickname {
  margin-top: 0.5rem;
  color: white;
}

.join-avatar-container {
  height: 25vmin;
  width: 25vmin;
}


@media only screen and (max-width: 1030px) {
  .join-avatar-container {
    height: 40vmin;
    width: 40vmin; 
  }
  .join-button {
    margin-top: 1rem;
    width: 60%;
  }
}

@media only screen and (max-width: 700px) {
  .join-avatar-container {
    height: 50vmin;
    width: 50vmin; 
  }
  .join-button {
    margin-top: 1rem;
    width: 100%;
  }
}
