input[type="text"].input {
    height: auto;
}

input[type="text"].input:focus {
    outline: none;
}

.input {
    font-family: 'Bebas Neue', cursive;
    font-size: var(--button-font-size);
    padding: var(--button-padding);
    border-style: solid;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    color: var(--button-font-color);
    text-shadow: var(--text-shadow);
    transition: var(--transition);
    width: 95%;
    height: calc(20px + 6vh);
    margin-top: 20px;


}

.input.default {
    /* background-color: var(--color-medium-grey); */
    border-color: var(--color-dark-grey);
}

.input.default::placeholder {
    color: var(--color-light-grey);
}

.input.default.disabled {
    color: var(--color-dark-grey);
}

.input.blue {
    background-color: var(--color-medium-blue);
    border-color: var(--color-dark-blue);
}

.input.blue::placeholder {
    color: var(--color-light-blue);
}

.input.blue.disabled {
    color: var(--color-dark-blue);
}