.checkmark {
    font-family: arial;
    font-weight: 800;
    color: green;
    -ms-transform: scaleX(-1) rotate(-35deg); /* IE 9 */
    -webkit-transform: scaleX(-1) rotate(-35deg); /* Chrome, Safari, Opera */
    transform: scaleX(-1) rotate(-35deg);
  }

/* .checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:rgb(0, 0, 0);
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:rgb(0, 0, 0);
    left:8px;
    top:12px;
} */