.challenge-container {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 25%);
}

.challenge {
  border-radius: var(--border-radius);
  width: 80%;
}

.challenge-header {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.challenge-body {
  text-align: center;
  border-style: solid;
  border-width: var(--border-width);
  background-color: white;
  border-color: var(--color-grey-70);
  box-shadow: 0 var(--button-3d-height) var(--color-grey-70);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-top: 0;
  display: flex;
  padding: 1rem;
  justify-content: center;
  flex-direction: column;
}

.challenge-button {
  margin: auto;
}

.challenge-description {
}

.challenge-outcome {
  color: red;
  font-size: 0.8rem;
}
