.person-container {
  display: flex;
  align-items: center;
  padding: 0.2rem;
}

.person-container:not(:last-child) {
  border-bottom: var(--border-width) solid var(--color-grey-80);
}

.person-name {
  flex-grow: 1;
}


.person-avatar {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross:before {
  margin: 20px;
  display: inline-block;
  transform: scale(2);
  content: "\00d7"; /* This will render the 'X' */
  color: brown; 
}

.tick:before {
  margin: 15px;
  display: inline-block;
  transform: scale(1.3);
  content: "\2713"; /* This will render the '✓' */
  color: rgb(6, 155, 6);
}

.person-avatar img {
  width: 70%;
}
