.person-container {
  display: flex;
  align-items: center;
  padding: 0.2rem;
}

.person-container:not(:last-child) {
  border-bottom: var(--border-width) solid var(--color-grey-80);
}

.person-name {
  flex-grow: 1;
}

.person-avatar {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-avatar img {
  width: 70%;
}
