.header-text {
  color: white;
  text-align: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
  text-shadow: var(--text-shadow);
}

.landing-input {
  margin: 1rem 0;
}

.landing-button {
  margin: 0 0 1rem 0;
  width: calc(85px + 16vw);
  height: calc(10px + 7vh);
}

.landing-avatar-container {
  height: 50vmin;
  width: 50vmin;
}

@media only screen and (max-width: 1030px) {
  .landing-button {
    margin: 0 0 1rem 0;
    width: 60%;
    height: auto;
  }
}

@media only screen and (max-width: 800px) {
  .landing-button {
    margin: 0 0 1rem 0;
    width: 100%;
    height: auto;
  }
}


