* {
    overflow: scroll;
}

.header-text {
    color: white;
    /* font: openSans; */
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    padding: 0.5em;
  }
  .container-border {
    color: white;
    margin: 5px;
    border-radius: 30px;
    border: 3px;
    border-style: solid;
  }
