.avatar {
    vertical-align: top;
    max-width: 60%;
    /* width: 3em;
    height: 3.5em; */
    /* border-radius: 50%; */
    color: white;
    padding: 0.2em;
    /* background-color: white; */
  } 